ux/*

# .NET
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/.vs/
backend/**/*.db
backend/**/*-dev.db
backend/**/dev-images/
backend/**/TestResults/

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Docker
.env

# IDE
.vscode/settings.json
.idea/
